In [23]:
#1
import pandas as pd
data = pd.DataFrame({'IN':['09:12:23','10:34:01','10:34:31'],
              'OUT':['11:14:35','13:23:40','11:20:10']})


def inoffice(check_time,data):
    m = re.search('(\d+):(\d+):(\d+)',check_time)
    time = [int(m.group(1)),int(m.group(2)),int(m.group(3))]
    
    
    time_IN=[]
    for i in data.IN:
        m = re.search('(\d+):(\d+):(\d+)',i)
        time_IN.append([int(m.group(1)),int(m.group(2)),int(m.group(3))])

    time_OUT=[]
    for i in data.OUT:
        m = re.search('(\d+):(\d+):(\d+)',i)
        time_OUT.append([int(m.group(1)),int(m.group(2)),int(m.group(3))])
    
    num = 0
    for i in range(len(time_IN)):
        if time[0]<time_IN[i][0]:
            continue
        elif time[0] == time_IN[i][0]:
            if time[1] > time[i][1]:
                num += 1
            elif time[1] == time_IN[i][1]:
                if time[2] > time[i][2]:
                    num += 1
        elif time[0]>time_IN[i][0] and time_OUT[i][0]>time[0]:
            num += 1
        elif time[0] == time_OUT[i][0]:
            if time[1] < time_OUT[i][1]:
                num += 1
            elif time[1] == time_OUT[i][1]:
                if time[2] < time_OUT[i][1]:
                    num += 1
        else:
            continue
       
    print(check_time,"에 사무실에 있는 사람은 %d명 입니다."%num)


        
check_time =input()
inoffice(check_time,data)

11:05:20
11:05:20 에 사무실에 있는 사람은 3명 입니다.

In [6]:
#2
def dashInsert(data):
    check=[]
    for i in range(len(data)-1):
        if int(data[i])%2==0 and int(data[i+1])%2==0:
            check.append('even')
        elif int(data[i])%2==1 and int(data[i+1])%2==1:
            check.append('odd')
        else:
            check.append('no')
    check.append('no')
    for i in range(len(data)):
        if check[i] == 'no':
            print(data[i],end='')
        elif check[i] =='even':
            print(data[i]+'*',end='')
        else:
            print(data[i]+'-',end='')
    
data = list(input())
dashInsert(data)

4546793
454*67-9-3

In [ ]:
#3
# 타이타닉 data

# 호칭추출 -> 호칭별 인원수 추출
# Mr, Mrs

# Age 컬럼에 결측값을 평군으로 대체
# Age 최대 최소

# SP = SibSp + Parch
# SP열 추가

In [17]:
import pandas as pd
import re
data = pd.read_csv('train.csv')

# 호칭
# ~, 호칭. ~
name = data.Name
nick_names=[]

for i in name:
    m = re.search('\w+[,]\s(\w+\s*\w+[.])',i)
    nick_names.append(m.group(1))


nick = list(set(nick_names))
for i in range(len(nick)):
    num=0
    for j in nick_names:
        if nick[i] == j:
            num += 1
    print(nick[i],'이라는 호칭의 개수는 %d개 입니다.'%num)

Jonkheer. 이라는 호칭의 개수는 1개 입니다.
Capt. 이라는 호칭의 개수는 1개 입니다.
Dr. 이라는 호칭의 개수는 7개 입니다.
Mme. 이라는 호칭의 개수는 1개 입니다.
Sir. 이라는 호칭의 개수는 1개 입니다.
Major. 이라는 호칭의 개수는 2개 입니다.
Ms. 이라는 호칭의 개수는 1개 입니다.
Miss. 이라는 호칭의 개수는 182개 입니다.
Mlle. 이라는 호칭의 개수는 2개 입니다.
Col. 이라는 호칭의 개수는 2개 입니다.
Master. 이라는 호칭의 개수는 40개 입니다.
Don. 이라는 호칭의 개수는 1개 입니다.
the Countess. 이라는 호칭의 개수는 1개 입니다.
Rev. 이라는 호칭의 개수는 6개 입니다.
Lady. 이라는 호칭의 개수는 1개 입니다.
Mr. 이라는 호칭의 개수는 517개 입니다.
Mrs. 이라는 호칭의 개수는 125개 입니다.

In [30]:
# age 결측값 평균으로 넣기
age = data.Age
print(sum(age.isnull()))
age = age.fillna(age.mean())
print(sum(age.isnull()))

# age 최대 최소
max(age), min(age)

177
0

(80.0, 0.42)

In [32]:
data['SP'] = data.SibSp+data.Parch
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SP
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [ ]:
import pandas as pd
import re

# 문제 1 
# 출퇴근 시간을 DataFrame으로
data = pd.DataFrame({'IN':['09:12:23','10:34:01','10:34:31'],
              'OUT':['11:14:35','13:23:40','11:20:10']})


def inoffice(check_time,data):
    # 체크할 시간을 :빼고 추출하여 int로
    m = re.search('(\d+):(\d+):(\d+)',check_time)
    time = int(m.group(1)+m.group(2)+m.group(3))
    
    #출근, 퇴근 시간을 :빼고 추출하여 int로 바꿔서 리스트에 저장
    time_IN=[]
    for i in data.IN:
        m = re.search('(\d+):(\d+):(\d+)',i)
        time_IN.append(int(m.group(1)+m.group(2)+m.group(3)))

    time_OUT=[]
    for i in data.OUT:
        m = re.search('(\d+):(\d+):(\d+)',i)
        time_OUT.append(int(m.group(1)+m.group(2)+m.group(3)))
    
    # 체크할 시간에 출근시간과 퇴근시간 사이에 있는지 확인
    num =0
    for i in range(len(time_IN)):
        if time >= time_IN[i] and time_OUT[i]>=time:
            num += 1
    print(check_time,"에 사무실에 있는 사람은 %d명 입니다."%num)
    
    

check_time =input()
inoffice(check_time,data)




#2
def dashInsert(data):
    # check라는 리스트에 자기자신과 자기 다음 숫자를 비교하여 두 수가 짝수이면 even, 홀수이면 odd, 아니면 no로 저장
    check=[]
    for i in range(len(data)-1):
        if int(data[i])%2==0 and int(data[i+1])%2==0:
            check.append('even')
        elif int(data[i])%2==1 and int(data[i+1])%2==1:
            check.append('odd')
        else:
            check.append('no')
    # 마지막 수는 비교할 뒤에 수가 없음으로 no로 저장
    check.append('no')
    
    # check에 저장된 값에 따라 기호를 자기자신 다음에 넣어준다
    for i in range(len(data)):
        if check[i] == 'no':
            print(data[i],end='')
        elif check[i] =='even':
            print(data[i]+'*',end='')
        else:
            print(data[i]+'-',end='')
    
data = list(input())
dashInsert(data)



# 문제 3
data = pd.read_csv('train.csv')

# 호칭
nick_names=[]
for i in data.Name:
    m = re.search('\w+[,]\s(\w+\s*\w+[.])',i) # 정규식을 사용하여 호칭 추출
    nick_names.append(m.group(1))

nick = list(set(nick_names)) # set을 통하여 호칭 개수 파악
for i in range(len(nick)):
    print(nick[i],'이라는 호칭의 개수는 %d개 입니다.'%nick_names.count(nick[i])) # count를 통해 각 호칭이 몇개 있는지 파악 
    
    
# age 결측값 평균으로 넣기
age = data.Age
print(sum(age.isnull())) # null 개수 확인
age = age.fillna(age.mean()) # null에 평균값 넣어주기
print(sum(age.isnull())) # null 개수 다시 확인 함으로써 평균값이 잘 들어갔는 확인

# age 최대 최소
max(age), min(age)


# 새로운 열 SP추가하고 그 값에 SibSp+ Parch 넣어주기
data['SP'] = data.SibSp+data.Parch
data.head()