#### 1. 주민번호 921101-1231234 에서 연월일과 그 뒤의 숫자 부분을 나누어 출력하시오
ex) 921101 1231234

In [1]:
('921101-1231234').replace('-',' ')

'921101 1231234'

In [2]:
('921101-1231234').split('-')

['921101', '1231234']

#### 2. 주민번호 921101-1231234 에서 성별을 나타내는 숫자를 출력하시오.

In [2]:
(list('921101-1231234')).pop(7)

'1'

#### 3. 문자열 a:b:c:d -> a#b#c#d로 변경하시오

In [3]:
('a:b:c:d').replace(':',"#")

'a#b#c#d'

#### 4. [How","are","you"] 리스트에서 join함수를 이용하여 How are you를 출력하시오.

In [4]:
' '.join(['How', 'are', 'you'])

'How are you'

#### 5. 리스트 [5,3,1,-1,3]출력 되도록 코드를 작성하시오.(range함수 적용)

In [5]:
list(range(5,-4,-2))

[5, 3, 1, -1, -3]

#### 6. 1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?
8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

In [6]:
str(list(range(0,10001))).count('8')

4000

In [7]:
c8 = 0
for i in range(0,10001):
    a = str(i)
    c8 = c8 + a.count('8')
c8

4000