# 12.19 3일차

자료구조 : 자료를 저장 및 관리하는 방법

알고리즘 : 문제를 해결하는 방법

## 1. 튜플() : 리스트[ ]와 비슷
- 리스트는 생성, 삭제, 수정 가능
- 튜플은 변경 불가

In [3]:
a = (3,2,5,6,1) # 튜플
a

(3, 2, 5, 6, 1)

In [5]:
a = 3,4,5,6,1 # ()없어도 튜플 생성 가능 but ()로 묶어주는 것이 좋음
a

(3, 4, 5, 6, 1)

In [6]:
a = () #빈 튜플
a

()

In [15]:
a1 = 5
print(a1)
type(a1)

5

int

In [16]:
# 값을 1개 저장한 튜플을 정의할때는 컴마를 써야한다
a2 = 5,
print(a2)
type(a2)

(5,)

tuple

In [12]:
# 자료형에 관계없이 저장 할 수 있다
a3 = ('John', 25, 180.5, True )
a3

('John', 25, 180.5, True)

In [14]:
a3[1] = 50 
# 튜플은 변경이 안되므로, 데이터가 계속 유지 되어야 할 경우

TypeError: 'tuple' object does not support item assignment

In [45]:
a = list(range(10))
b = tuple(range(10))
print(a,b,sep='\n')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [31]:
# 튜플 <-> 리스트
a = [1,2,3]
print(a)
a = tuple(a)
print(a)
a = list(a)
print(a)

[1, 2, 3]
(1, 2, 3)
[1, 2, 3]

In [33]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [34]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [40]:
x,y = [1,2]
print('x :',x)
print('y :',y)

x : 1
y : 2

In [41]:
x,y = (1,2)
print('x :',x)
print('y :',y)

x : 1
y : 2

In [48]:
# unpacking: 리스트(튜플)의 요소를 여러개의 변수에 할당하는 것
# packing : 변수에 리스트 또는 튜플을 할당하는 것

a = [1,2,3] # packing

In [49]:
# 튜플 삭제 불가
t1 = (1,2,'x','y')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [50]:
# 튜플 변경 불가
t1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [51]:
t1 = (1,2,'x','y')
t2 = (3,4)
t1+t2

(1, 2, 'x', 'y', 3, 4)

In [53]:
t2*3

(3, 4, 3, 4, 3, 4)

In [52]:
len(t1)

4

## 2. 시퀀스(자료)형
- 리스트, 튜플, range, 문자열, 바이트 => 연속적으로 표현
- 시퀀스형의 자료에 특정 값이 존재하는지 확인

### 2.1 in연산자

In [71]:
#시퀀스형에 대해 in 연산자 사용가능
# 리스트
a = tuple(range(0,91,10))
30 in a # a 변수(시퀀스) 안에 30이 있는지 확인
100 not in a

True

In [65]:
# 튜플
a = tuple(range(0,91,10))
30 in a
100 not in a

True

In [67]:
# 문자열
'h' in 'hello, python'
'h' not in 'hello, python'

False

In [70]:
# range
100 in range(100) # False
43 in range(100) # True

True

### 2.2 +연산자

In [72]:
# +연산자로 시퀀스형에 대한 자료 연결이 가능
# range는 불가

# 리스트
a = [1,2]
b = [3,4]
a+b

[1, 2, 3, 4]

In [73]:
# 튜플
a = (1,2)
b = (3,4)
a+b

(1, 2, 3, 4)

In [76]:
# 문자열
'Hi, '+'python'

'Hi, python'

In [74]:
# range
range(0,3)+range(3,5)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [78]:
# range를 사용하고 싶으면 list나 tuple로 변환 후 사용
list(range(0,3))+list(range(3,5))
tuple(range(0,3))+tuple(range(3,5))

(0, 1, 2, 3, 4)

In [77]:
# 리스트+튜플 처럼 자료형이 다른 경우에 연결 불가능

In [80]:
# 문자에 숫자 연결 불가능
# 숫자를 문자로 변환하면 가능
'hi' + 7
'hi' + str(7)

'hi7'

In [84]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [83]:
(1,2)*3

(1, 2, 1, 2, 1, 2)

In [85]:
'hi'*3

'hihihi'

In [86]:
range(0,3)*3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

### 2.3 len

In [ ]:
# len : 시퀀스 자료형에 해당되는 데이터의 길이
a = [1,2,3]
len(a)
b = (1,2,3)
len(b)
len(range(0,4))
len('hello')

In [81]:
hi = '안녕'
len(hi) # len은 문자의 개수

2

In [89]:
#ut f-8
hi.encode('utf-8')
len(hi.encode('utf-8'))

6

In [91]:
# 시퀀스형에 대한 자료 참조는 대관로[] 기호 사용
x = 'HI HELLO'
x[0]
x.__getitem__(0)

'H'

In [93]:
x[10] # 범위를 벗어남

IndexError: string index out of range

In [96]:
len(x)
# x[len(x)] 에러 -> 범위를 넘어서 0~7까지이니깐 8은 에러
x[len(x)-1] # x[-1]

'O'

In [97]:
x[2:-1]

' HELL'

In [98]:
x[1:7:2] # 1부터 6까지 2씩 증가
x[:8:2] # 처음부터 7까지 2씩 증가
x[3::2] # 3부터 끝까지 2씩 증가
x[::2] # 처음부터 끝까지 2씩 증가
x[::] # 처음부터 끝까지

x[5:1:-1] # 5부터 2까지 역순
x[::-1] # 역순

x[0:len(x)]
x[:len(x)]

'IHL'

In [101]:
x = range(10)
x[4:7] # range(4,7)
list(range(0,7,2)) #[0, 2, 4, 6]

[0, 2, 4, 6]

In [103]:
x = 'hello world'
x[:10:3]

'hlwl'

In [111]:
a= list(range(0,91,10))
print(a)
a[2:5] = [21,31,'x']
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[0, 10, 21, 31, 'x', 50, 60, 70, 80, 90]

In [112]:
a[1:9:2] = ['a','b','c','d']
a

[0, 'a', 21, 'b', 'x', 'c', 60, 'd', 80, 90]

In [113]:
del a[0::2]
a

['a', 'b', 'c', 'd', 90]

In [115]:
del a[::]
a

[]

## 3. 딕셔너리
- 키(KEY)와 값(VALUE)으로 자료 표현
- 중괄호{} 사용
- 해쉬, 
- key와 value가 여러 쌍으로 구성
- 컴마(,)로 구분
- key는 변하지 않는 것으로 사용
- Value는 변하는 값/ 변하지 않는 값 모두 사용 ==> key : id, value : password

In [110]:
# person = [180,70,'O','서울'] => person2 = {'키':180,'몸무게':70,'혈액형':'O','사는곳':'서울'}
person2 = {'키':180,'몸무게':70,'혈액형':'O','사는곳':'서울'}
person2

{'키': 180, '몸무게': 70, '혈액형': 'O', '사는곳': '서울'}

In [117]:
#key가 중복되면 마지막 자료가 저장
person2 = {'키':180,'몸무게':70,'혈액형':'O','사는곳':'서울','몸무게':80}
person2

{'키': 180, '몸무게': 80, '혈액형': 'O', '사는곳': '서울'}

In [123]:
# key : 문자열, 숫자, True, False
# value : 숫자, 문자열, 리스트
person2 = {'키':180,'혈액형':'O', 99 : '구구', 3.14 : [3.14,'원주율'],False : 0}
person2

{'키': 180, '혈액형': 'O', 99: '구구', 3.14: [3.14, '원주율'], False: 0}

In [124]:
# value에 딕셔너리 가능
person2 = {'취미': {'오전':'수영','오후':'수영'}}
person2

{'취미': {'오전': '수영', '오후': '수영'}}

In [125]:
person2 = {3.14 : [3.14,'원주율'], ['주소','전번']:'서울,02'}
# [주소,전버]:'서울,02' 에러
# key로 리스트 불가능

TypeError: unhashable type: 'list'

In [126]:
person2 = {'취미': {'오전':['수영','야구'],'오후':'수영'}}
person2

{'취미': {'오전': ['수영', '야구'], '오후': '수영'}}

In [131]:
x = dict() # x = {}
x

{}

In [133]:
# dict(key1 : value1, key2 : value2)
per = dict (height = 180, weight = 70, bt = '0')
per

{'height': 180, 'weight': 70, 'bt': '0'}

##### zip 함수
동일한 개수로 이루어진 자료형을 묶어주는 함수

각기 다른 개수로 되어있는 자료형일지라도 동일한 개수로 쌍을 지어 묶어준다

In [134]:
zip(['height','weight','bt'],[180,70,'0'])

In [136]:
per = dict(zip(['height','weight','bt'],[180,70,'0']))
per

{'height': 180, 'weight': 70, 'bt': '0'}

In [139]:
per = dict ([('height',180), ('weight',70), ('bt','O')])
per

{'height': 180, 'weight': 70, 'bt': 'O'}

In [143]:
per = dict({'height':180, 'weight': 70, 'bt': '0'})
per

{'height': 180, 'weight': 70, 'bt': '0'}

In [144]:
a = {1:'hi'}
b = {'a' : [1,2,3]}
c = {1: 'a'}
print(b)
print(c)

{'a': [1, 2, 3]}
{1: 'a'}

In [155]:
# 딕셔너리 추가
# 딕셔너리[키] = 값

b[2] = 'b' # key : 3  value : 'b'
b['name'] = 'Ann'
b['weight'] = 70.5
b

{'a': [1, 2, 3], 2: 'b', 'name': 'Ann', 'weight': 70.5}

In [156]:
b['name'] = 'Bob'
b

{'a': [1, 2, 3], 2: 'b', 'name': 'Bob', 'weight': 70.5}

In [158]:
# 값 보기
# 딕셔너리[키]
b['name']

'Bob'

In [159]:
'weight'in b

True

In [224]:
# key 값 보기
b = {'a': [1, 2, 3], 2: 'b', 'name': 'Bob', 'weight': 70.5}
b.keys()

dict_keys(['a', 2, 'name', 'weight'])

In [225]:
for k in b.keys():
    print(k)
    
list(b.keys())

a
2
name
weight

['a', 2, 'name', 'weight']

In [226]:
b.values()

dict_values([[1, 2, 3], 'b', 'Bob', 70.5])

In [227]:
for v in b.values():
    print(v)
    
list(b.values())

[1, 2, 3]
b
Bob
70.5

[[1, 2, 3], 'b', 'Bob', 70.5]

In [228]:
# key, value 둘 다 출력
# tuple로 출력
b.items()

dict_items([('a', [1, 2, 3]), (2, 'b'), ('name', 'Bob'), ('weight', 70.5)])

In [171]:
for i in b.items():
    print(i)

('a', [1, 2, 3])
(2, 'b')
('name', 'Bob')
('weight', 70.5)

In [172]:
b['name']
b.get('name')

'Bob'

In [229]:
b['nn']

KeyError: 'nn'

In [178]:
print(b.get('nn'))

None

In [233]:
# 딕셔너리 b에 nn 키가 없다면 kim을 출력시켜라
#디폴트(설저값 설정)
t = {'a':[1,2,3], 'b': 'Bob','id':'test'}
t.get('nn','kim')

'kim'

In [234]:
# id가 있으니깐 test
b.get('id','kim')

'test'

#### set(집합) 자료구조
- 중복이 허용 안됨
- 순서없음

In [237]:
#중복 하용x
s = set([1,2,3,1])
s

{1, 2, 3}

In [238]:
#순서없음
s2 = set('hell')
s2

{'e', 'h', 'l'}

In [247]:
s = set(['k','i','m'])
s

{'i', 'k', 'm'}

In [248]:
slist = list(s)
slist

['m', 'i', 'k']

In [246]:
slist[1]

'i'

In [235]:
#불가능
set(1,2,3,4,5,5,5)

TypeError: set expected at most 1 arguments, got 7

In [249]:
s = set(['k','i','m'])
stuple = tuple(s)
stuple

('m', 'i', 'k')

#### 교집합, 합집합,차집합

In [189]:
s1 = set([1,2,3,4])
s2 = set([5,6,3,4])

# 교집합
s1 & s2
s1.intersection(s2)

{3, 4}

In [192]:
#합집합
s1 | s2
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [194]:
#차집합
s1-s2
s1.difference(s2)

{1, 2}

In [197]:
# add함수
s = set([1,2])
s. add(3)
s

{1, 2, 3}

In [199]:
# add함수는 여러게 추가 불가능 => update 함수
s.add(4,5)

TypeError: unhashable type: 'list'

In [202]:
# update함수 => 여러개 추가
s.update([4,5])
s

{1, 2, 3, 4, 5}

In [ ]:
# True : 'test', [1,2], {1,2,},(1,2),1
# False :'', [].{},(), None

## 조건문

explicit programming : 조건문
implicit programming : 조건이 없도 올바른 판단을 함

if 고양이가 나타나면:
    브레이크를 밟는다

In [204]:
x = 10
if x == 10:
    print('5입니다.')

print('문자  수행합니다.')

5입니다.

In [205]:
if 'test':
    print('수행')

수행

In [206]:
if 1:
    print('수행')

수행

In [251]:
if 0:
    print('수행')

In [256]:
a = {'name': 'Ann','age':27,'nn': 'O'}
if a.get('nn'):
    print('해당 키가 없습니다, 확인해세요',`)

SyntaxError: invalid syntax (<ipython-input-256-3f8992d10bde>, line 3)

In [257]:
x =10
if x == 10:
    pass   #기술할게 없을 때
print('hi')

hi

In [259]:
#invitation 안맞추어주면 오류
if x == 10:
    print('안녕')
        print('안녕')

IndentationError: unexpected indent (<ipython-input-259-568163d6f43d>, line 4)

In [260]:
x = 5
if x == 5:
    print("x는")
print('5입니다')

x는
5입니다

In [261]:
if x >= 3:
    print('3이상')
    if x < 10:
        print('10미만')
    if x < 5:
        print('5미만')
        
print('입니다')

3이상
10미만
입니다

In [262]:
if []:
    print('참')
else:
    print('거짓')

거짓

In [210]:
if [1,2]:
    print('참')
else:
    print('거짓')

참

In [211]:
if None:
    print('참')
else:
    print('거짓')

거짓

In [215]:
bool(0)

False

In [216]:
bool('')

False

In [217]:
bool(10)

True

In [218]:
bool('python')

True

In [220]:
a = [1,2,3]
if a:
    print(a.pop())
    
a

3

[1, 2]

In [222]:
# while
# a 변수값이 참인 동않에 계속
a = [1,2,3]
while a:
    print(a.pop())

3
2
1