# 12.18 2일차

- `In[*]`은 실행중이라는 의미
 - 강제 종료를 하려면 Kemel -> Restart
- 파이썬
  - 대소문자 구분
  - 소문자로 시작
  - 예약어(for, if, ...) 사용금지

In [ ]:
#변수를 메모리에서 제거
del x

In [ ]:
#빈 변수
x = None #변수는 만들어졌지만 값은 들어있지 않는 상태, null => 출력했을 때, 아무것도 나오지 않음

In [ ]:
#컴퓨터 구조로 보았을때
x = 10
x = x + 5 #연산 2번
x += 5 #연산 1번 -> 이렇게 사용하는게 좋음

#메모리에 값이, 계산은 CPU가

##### input

In [19]:
# input 함수는 입력받은 값을 char로 받음

x = input()
y = input('입력 : ')

5
입력 : 10

##### split

In [23]:
#input에서 여러개 입력 받고 싶을 때, split함수 사용 (공백구분)
x,y = input('두 개 입력 : ').split()
print('x : ',x)
print('y : ',y)

두 개 입력 : 5 10
x :  5
y :  10

In [5]:
#split 구분 다른 것으로 가능
input('입력 : ').split(",")

입력 : 1,2,3

['1', '2', '3']

##### map

In [24]:
x,y = input('두 개 입력 : ').split()
print(x)
print(y)
print(x+y)

x = int(x)
y = int(y)
print(x+y)
# 연산을 하려면 int로 변환해주어야하는데
# int(input('두 개 입력 : ').split())로 한 번에 불가능 => 따로 변환해주어야
# map사용하면 한 번에 가능

두 개 입력 : 5 10
5
10
510
15

In [1]:
# 형식 : map(함, 데이터)
x,y = map(int, input('두 개 입력 : ').split())
print(x+y)

두 개 입력 : 1 2
3

##### sep

In [140]:
print(1,2,3,4,5)
print(1,2,3,4,5, sep = ',') # ''안에 있는 것으로 구분 지어주기

1 2 3 4 5
1,2,3,4,5

In [139]:
print('Hi','Hello')
print('Hi','Hello', sep = ',')

Hi Hello
Hi,Hello

In [141]:
#제어문자 : 화면에 출력x
# \n : 줄을 바꾸어주는 문자, 엔터쳐주는 느낌
print(1,2,3, sep = '\n')

1
2
3

In [142]:
# \t : tab
print(1,2,3, sep = '\t')

1	2	3

In [143]:
# \기호는 2개(\\) 작성해야 출력 가능
print('1\2')
print('1\\2')

1
1\2

##### end

In [16]:
print(1, end = '') #원래 \n인것을 ''안에 있는 내용으로 변경
print(2)

12

### 불린(boolean) : True/False(논리값) by 논리연산자

In [18]:
1 == 1.0 # 비교를 하기 전에 동일한 타입으로 변환 후 비교

1 is 1.0 # 객체 비교 정수 1 == 실수 1.0 => 다르다
1 is not 1.0

False

In [ ]:
'''
클레스 : 건축 설계도
객체 : 건축물 (건물)
속성 : 건물의 특성(층, 평수,...)
메서드 : 건물의 동작
상속 : 유사한 건물 설계시 기존 건축 설계도의 재사용


클레스 : 붕어빵 기계
객체 : 붕어빵
속성 : 붕어빵의 특성 (내용물, 크기)
메서드 : 붕어빵의 동작 (객체에서 하는 동작)
상속 : 


클레스 : 자동차 공장
객체 : 자동차
속성 : 배기량, 가격,...
메서드 : 달린다, 멈춘다, 후진,..
상속 : B를 만들때 기존에 있던 A를 참고하는 것을 


------
상속 : 아빠(코골이) -> 자식(코골이+잠꼬대) -> 자식(코골이+잠꼬대+이갈기)
물려받은 것을 그대로 or 변형해서 사용(overriding)

'''

### 논리연산 : and, or, not

##### and

In [26]:
# and : 모두 True => True
True and True # True
True and False # False

False

##### or

In [31]:
# or : 적어도 하나 이상 True => True
False or False # False
False or True # True

True

##### not

In [29]:
# not : 논리값 바대로 뒤집는 연산자
not True # True
not True and False or not False # True

False

In [33]:
not 1 > 0
not 5 > 10

True

In [44]:
False and True # False이므로 and  뒤에 있는 True는 실행 안함
True or False # True이므로 or 뒤에 있는 False 실행 안함

True


### bool함수
- 정수, 실수, 문자열 => 불린 타입 변화

In [45]:
# 정수 0을 제외한 모든 정수는 True
bool(1) # false
bool(0) # true
bool(-1) # false

# 실수 0.0을 제외한 모든 실수는 True
bool(3.14) # true
bool(0.0) # false
bool(-3.14) #true

# 빈 문자열은 False
bool('hi') # true
bool('') # false

False

### Formating

###### %d : 10진수, %뒤에 있는 숫자가 10진법으로 %d자리에 들어감

In [144]:
number = 3
day = 'two'

"I eat %d apples" % 3
"I eat %d apples" % number

'I eat 3 apples'

##### %s : 문자열

In [146]:
"I eat %s apples" % 'three'
"I eat %s apples" %  day

'I eat two apples'

In [147]:
# 두 개 이상의 값을 전달하려면 괄호로 묶어서 표현해야 한다
'I ate %d ice creams. So I was sick for %s days' %(number,day)

'I ate 3 ice creams. So I was sick for two days'

In [56]:
# %s는 타입과 관련없이 전달 받아서 출력해줌
"I eat %s apples" % 'three'
"I eat %s apples" % 3
"I eat %s apples" % 3.14

'I eat 3.14 apples'

##### %기호 출력 => %%

In [148]:
print("Error is %d" %90)
print("Error is %d%%" %90)

Error is 90
Error is 90%

##### %10s : 10자리를 확보한 후, 오른쪽 정렬 출력

In [149]:
print("%10s" %"hi")
print('%10s' %'hello')

        hi
     hello

##### %-10s : 10자리를 확보한 후, 왼쪽 정렬 출력

In [150]:
print("%-10s" %"hi")
print('%-10s' %'hello')

hi
hello

#####  소수짐6자리까지 표현

In [179]:
print('%f' % 3.14)

3.140000
3.14
      3.14

##### 소수점 2자리까지

In [151]:
print('%.2f' % 3.14)

3.14

##### 10자리 확보한 후, 소수 이하 둘째자리까지

In [152]:
print('%10.2f'% 3.14)

      3.14

##### format함수를 이용한 formating

In [153]:
'I eat {0} apples'.format(3) # {0}은 format()에 들어가는 데이터 중 0번쩨 데이터를 입력

'I eat 3 apples'

In [154]:
'I eat {0} apples'.format('three') # 타입 신경 안써도 됨

'I eat three apples'

In [155]:
num = 9
'I eat {0} apples'.format(num)

'I eat 9 apples'

In [156]:
'I ate {0} ice creams. So I was sick for {1} days' .format(3, 'three')

'I ate 3 ice creams. So I was sick for three days'

In [157]:
'I ate {num} ice creams. So I was sick for {day} days' .format(num = 3, day = 'three') 
# 가독성 좋음!!

'I ate 3 ice creams. So I was sick for three days'

In [159]:
'I ate {0} ice creams. So I was sick for {day} days' .format( 3, day = 'three') 
# 혼용 가능 but 추천하지 않음

'I ate 3 ice creams. So I was sick for three days'

In [160]:
'{1}'.format('hi', 'hello')

'hello'

In [161]:
'{0} {1}'.format('hi', 'hello')

'hi hello'

In [166]:
#정렬 옵션

#10자리 확보, 왼쪽 정렬
'{0:<10}'.format('hello')

'hello     '

In [163]:
#10자리 확보, 오른쪽 정렬
'{0:>10}'.format('hello')

'     hello'

In [164]:
#10자리 확보, 가운데 정렬
'{0:^10}'.format('hello')

'  hello   '

In [165]:
#10자리 확보, 가운데 정렬, 빈칸을 *(문자,숫자,부호 가능)로 채워넣기
'{0:*^10}'.format('hello')

'**hello***'

### 기타 함수들

##### count

In [109]:
a = 'hello'
a.count('l') # l문자의 개수 #2
a.count('a') # a문자의 개수 #0

0

##### find

In [115]:
b = 'Python is very easy'
b.find('y') # 가장 왼쪽부터 찾기때문에 1
b.find('k') # 문자를 못 찾는 경우, -1

b.index('y') # 가장 왼쪽부터 찾기때문에 1
b.index('k') # 문자를 못 찾는 경우, 에러 발생

ValueError: substring not found

##### join

In [120]:
# join 함수

'#'.join('hello')
'+'.join(['m','u','t','i'])

'm+u+t+i'

##### lower

In [90]:
# lower() : 소문자로 변환
a = 'TEST'
a.lower()

'test'

##### upper

In [91]:
# upper() : 대문자로 변환
b = 'test'
b.upper()

'TEST'

##### strip
공백제거

In [95]:
# strip : 양쪽 공백 제거
word = '    hello   '
word.strip()

'hello'

In [96]:
# lstrip : 왼쪽 공백 제거
word.lstrip()

'hello   '

In [97]:
# rstrip : 오른쪽 공백 제거
word.rstrip()

'    hello'

##### replace

In [130]:
# replace : 문자열 대체
# replace(A, B) : A를 B로 변경(대체)
x = "대한민국 한국 코리아"
x.replace('한국', '대한민국')

'대한민국 대한민국 코리아'

##### split

In [100]:
# split() : ()안에 있는 것으로 구분(나누기)
#결과값 list로 나옴
x = 'a?b?$c?d'
x.split('?')
#x.split('$')

['a', 'b', '$c', 'd']

### 리스트 : 데이터 타입에 관계없이 저장

In [101]:
# 리스트 : 대괄호([])로 표현, 자료를 나열하고자 할때 사용
['m','u','t','i']

['m', 'u', 't', 'i']

In [147]:
x1 = [] # 빈 리스트
x1
x2 = [1,2,3]
x2
x3 =['programming', 'is', 'very', 'easy']
x3
x4 = [1,2,'is','very']
x4
x5 = [1,2,['is', 'very']]
x5
#리스트 내부에는 어더한 자료형도 모두 표함될 수 있다

a= list() # a = []
a
a = [1,2,3]
a[0] + a[2]
a[-1] # 뒤에서 첫번째 수

3

In [154]:
# 이중 리스트
x = [1,2,3,['a','b','c']]

# ['a','b','c'] 추출
x[3] # x[-1]

# a 추츨
x[3][0]

'a'

In [159]:
# 삼중 리스트 -> 삼중 이상 사용안하는 걸 추천
x = [1,2,['a','b',['Python', 'is']]]

#Python 추출
x[2][2][0]

[1, 2, ['a', 'b', ['Python', 'is']]]

In [162]:
x = [1,2,3]
x[0:3] # x변수에 저장된 데이터의 0번 ~ 3-1번 index 데이터 추출
x[:2] # x[0:2]

x2 = [1,2,3,['a','b','c'],4,5]
# 3,['a','b','c'],4,5
x2[2:]
x2[2:6]

# 'a','b'
x2[3][:2]
x2[3][0:2]

[3, ['a', 'b', 'c'], 4, 5]

In [168]:
# 리스트 더하기 => 2개의 리스트가 연결되어 1개의 리스트가 됨
x = [1,2,3]
y = [4,5,6]
x+y

[1, 2, 3, 4, 5, 6]

In [166]:
# 리스트 곱하기 => 곰한 수 만큼 리스트 반복
x = [9,8,7]
x *3

[9, 8, 7, 9, 8, 7, 9, 8, 7]

##### len
길이를 구하는 함수

In [169]:
x = [1,2,3]
len(x)

3

##### int -> str

In [174]:
a = [1,2,3]
#a[2]+'hi' 안됨!!!타입이 다름으로
str(a[2]) +'hi'

'3hi'

##### range

In [195]:
range(5) #0~4까지 연속된 숫자 생성  range(0,5)라고 표현됨
list(range(5)) #[0, 1, 2, 3, 4]
list(range(3,12)) #3부터 11까지
list(range(3,12,2)) # 3부터 11까지 2차이로
list(range(-3,5))
list(range(13,2,-2)) #list(range(2,13,-2)은 안됨

[13, 11, 9, 7, 5, 3]

In [199]:
a=[1,2,3]
print(a)
a[2] = 10
print(a)
del a[1]
print(a)

[1, 2, 3]
[1, 2, 10]
[1, 10]

In [7]:
#1~10까지 숫자가 저장된 리스트를 생성
a = list(range(1,11))
print(a)

# 7,8,9,10 삭제
del a[6:]
print(a)

# 3,4,5 삭제
del a[2:5]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 2, 6]

In [169]:
#리스트 변수명.함수명()

#자료구조(list, tuple, dictionary, set)에 따라 사용 가능한 함수가 다름
#공통 사용 가능한 함수가 일부 있음

#리스트.함수()
#딕셔너리.함수()
#문자열.함수()

#리스트, 딕셔너리, 문자열을 객체로 보아야함

##### append

In [114]:
a = [1,2,3]
x=4
a.append(x)
a

[1, 2, 3, 4]

In [117]:
#리스트 자체 추가 가능
b = [5,6]
a.append(b)
a

[1, 2, 3, 4, [5, 6]]

##### extend

In [127]:
a = [1,2,3]
b = [4,5]
a.extend(b) # [1,2,3[4,5]]가 아니고 [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [128]:
a.extend([6,7])
a

[1, 2, 3, 4, 5, 6, 7]

In [130]:
a+=[8,9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 9]

##### sort

In [118]:
a.sort() # 에러 -> 리스트 안에 리스트가 있어서

TypeError: '<' not supported between instances of 'list' and 'int'

In [109]:
a = [2,1,4,6,5]
a .sort()
a

[1, 2, 4, 5, 6]

In [110]:
a = ['e','z','a']
a.sort()
a

['a', 'e', 'z']

##### reverse

In [111]:
a = [2,4,5,6]
a.reverse()
a

[6, 5, 4, 2]

In [112]:
a = ['a','b','c']
a.reverse()
a

['c', 'b', 'a']

In [113]:
a = [3,2,7,1]
a.sort(reverse = True)
a

[7, 3, 2, 1]

##### index
위치를 찾으려고 할때

In [131]:
a = [10,20,30]
a.index(20) # 20이 저장되어 있는 요소의 위치

1

In [132]:
#요소가 없는경우 에러발생
a.index(1)

ValueError: 1 is not in list

##### insert
원하는 위치에 리스트 요소 추가 가능

In [133]:
a = [1,2,3,4]
a.insert(0, 100) # 0자리에 100추가 [100, 1, 2, 3, 4]
a

[100, 1, 2, 3, 4]

In [134]:
a.insert(3,5) # 3자리에 5추가 [100, 1, 2, 5, 3, 4]
a

[100, 1, 2, 5, 3, 4]

##### remove
원하는 요소 삭제, 순서대로

In [5]:
a = [1,2,3,1,2,3] 
a.remove(1)
a

[2, 3, 1, 2, 3]

In [6]:
a.remove(1)
a

[2, 3, 2, 3]

##### pop
리스트에서 가장 나중에 저장된 요소부터 제거(꺼냄)

In [168]:
a = [10,20,30,40]
a.pop()

40

In [137]:
print(a)
a.pop(1) # 1번 자리에 있는 자료 제거(꺼내기)

[10, 20, 30]

20