In [ ]:
# 데이터 입력을 받아서 10보다 작으면 '10보다 작아요'
# 그렇지 않으면 '10보다 커요'

In [5]:
a = int(input('입력 : '))
if a < 10:
    print('10보다 작아요')
elif a > 10:
    print('10보다 커요')
else:
    print('10이예요')

입력 : 80
10보다 커요

#### Q.1 
어떤 자연수 n이 있을 때, d(n)을 n의 각 자릿수 숫자들과 n 자신을 더한 숫자라고 정의하자.

예를 들어

d(91) = 9 + 1 + 91 = 101

이 때, n을 d(n)의 제네레이터(generator)라고 한다. 위의 예에서 91은 101의 제네레이터이다.

어떤 숫자들은 하나 이상의 제네레이터를 가지고 있는데, 101의 제네레이터는 91 뿐 아니라 100도 있다. 그런데 반대로, 제네레이터가 없는 숫자들도 있으며, 이런 숫자를 인도의 수학자 Kaprekar가 셀프 넘버(self-number)라 이름 붙였다. 예를 들어 1,3,5,7,9,20,31 은 셀프 넘버 들이다.

1 이상이고 5000 보다 작은 모든 셀프 넘버들의 합을 구하라.

In [13]:
# 1번
totalNum = list(range(1,5001))
nonSelf = []
total = 0

# 자릿수에 따라 분리하여 셀프넘버가 아닌 것을 구하기
for i in totalNum:
    L = len(str(i))
    if L == 1:
        nonSelf = nonSelf + [i+i]        
    elif L == 2:
        ii = str(i)
        nonSelf = nonSelf +[int(ii[0]) + int(ii[1]) + i]
    elif L == 3:
        ii = str(i)
        nonSelf = nonSelf +[int(ii[0]) + int(ii[1]) + int(ii[2]) + i]
    else:
        ii = str(i)
        nonSelf = nonSelf +[int(ii[0]) + int(ii[1]) + int(ii[2]) + int(ii[3]) + i]


s1 = set(totalNum)
s2 = set(nonSelf)
Self = list(s1-s2) # s1와 s2의 차집합통해 셀프넘버 구하기


for i in Self:
    total = total + i

print(total)

1227365

In [12]:
# 1번
# a = list(range(1,5001))
D = []
total = 0

for i in range(1,5001):
    l = len(str(i))
    if l == 1:
        D = D + [i+i]        
    elif l == 2:
        ii = str(i)
        D = D +[int(ii[0]) + int(ii[1]) + i]
    elif l == 3:
        ii = str(i)
        D = D +[int(ii[0]) + int(ii[1]) + int(ii[2]) + i]
    else:
        ii = str(i)
        D = D +[int(ii[0]) + int(ii[1]) + int(ii[2]) + int(ii[3]) + i]


s1 = set(range(1,5001))
s2 = set(D)
DD = list(s1-s2)


for i in DD:
    total = total + i

print(total)

1227365

In [ ]:
storage = set()
total = 0

for i in range(1,5001) :
    b = 0
    for j in str(i) :  # 124이면 1,2,4가 들어감
        b += int(j)
    storage.add(b+i)

for i in range(1,5001) :
    if i not in storage: # 전체수와 셀프넘버아닌 것 비교
        total += i
        
print(total)

#### Q2
표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

입력 
27000
Cash3000

출력
24000

In [139]:
# price = int(input('가격 : '))
# cupon = input('쿠폰 이름 : ')

price, cupon = input().split(' ')

price = int(price)
discount = int(cupon[4:len(cupon)])

total = price - discount
print(total)

37000 cash7000
30000

#### Q3
표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

입력
2
출력
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [37]:
a = int(input())
tuple(range(-10,10,a))

2

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

#### Q4
튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [44]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
n[1::2]

(75, -10, 32, -15, 76, 2)

In [9]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
for i in range(len(n)):
    if i%2 != 0:
        print(n[i])

75
-10
32
-15
76
2

#### Q5
a 리스트에서 중복 숫자를 제거해 보자.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [5]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
list(set(a))

[1, 2, 3, 4, 5]