In [117]:
# 동일한 수가 발생하지 않도록 로또생성기 코드 수정
import random

i = 0
num = []

while i != 6:
    num += [random.randint(1,45)]
    num = list(set(num))
    if len(num) < 6:
        continue
    else:
        print(num)
        break
    i +=1

[36, 40, 41, 16, 29, 30]

In [118]:
# 잔액이 200원 미만이면 판매가 안되도록

coffee = 10 # 10잔 커피,1잔에 200원
money = 1100

while money:
    print('커피가 나옵니다')
    coffee = coffee-1
    money = money -200
    print('남은 커피는 %d잔 입니다' %coffee)
    print('잔액은 %d원 입니다' %money)
    if money < 200:
        print('잔액이 부족합니다')
        break
    else:
        if coffee == 0 :
            print("커피가 떨어졌습니다. 판매 중지")
            break

커피가 나옵니다
남은 커피는 9잔 입니다
잔액은 900원 입니다
커피가 나옵니다
남은 커피는 8잔 입니다
잔액은 700원 입니다
커피가 나옵니다
남은 커피는 7잔 입니다
잔액은 500원 입니다
커피가 나옵니다
남은 커피는 6잔 입니다
잔액은 300원 입니다
커피가 나옵니다
남은 커피는 5잔 입니다
잔액은 100원 입니다
잔액이 부족합니다

In [132]:
k = 1 # 1,3,5,7,9....개수로 나와야해서 여기서 계속 2 더해주는 방법으로

n = 4 # 행
m = 3 # 열

for i in range(0,m):
    print(' '*((n//2)-i),'*'*k,' '*((n//2)-i))
    k = k+2

   *
  ***
 *****

1. 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)
예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

In [28]:
# sort 되었다고 보았을때
# 가장 작은 것이랑 계속 비교 해서 가장 작은 값 찾고 그 값의 위치 저장

S = {1, 3, 4, 8, 13, 17, 20}

L = len(S)
rS = list(S)
 
dis = []
i = 1
small = rS[L-1] - rS[0]
while i < 7:
    a = rS[i] - rS[i-1]
    if a < small:
        small = a
        count = i
    i += 1
print((rS[count-1],rS[count]))

(3, 4)

2. 주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.
data="이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌"

김씨와 이씨는 각각 몇 명 인가요?
"이재영"이란 이름이 몇 번 반복되나요?
중복을 제거한 이름을 출력하세요.
중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")

In [108]:
names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")
L = len(names)
Kim = 0
Lee = 0

for i in range(L):
    if names[i][0] == '김':
        Kim += 1    
    elif names[i][0] == '이':
        Lee += 1
    
print(Kim,Lee)

2 6

In [109]:
count = 0
for i in range(L):
    if names[i] == '이재영':
        count += 1
print(count)

Names = list(set(names))
print(Names)

Names.sort()
print(Names)
# print(list(set(names)).sort())

3
['김지완', '이성연', '권종표', '박민호', '전경헌', '이재영', '최승혁', '송정환', '김재성', '이유덕', '박영서', '강상희']
['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

3. 10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다. 이들의 총합은 23이다.
1000미만의 자연수에서 3,5의 배수의 총합을 구하라.

In [131]:
# 3으로 나누었을때, 5로 나누었을때 0이면 그 배수, 저장 후 공배수 제거를 위해 set하기
total = []
for i in range(1,1000):
    if i%3 == 0:
        total += [i]
    elif i%5 == 0:
        total += [i]

total = list(set(total))
sum(total)

233168

4. 자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다. 예를 들면, 6과 28은 완전수이다. 6=1+2+3 // 1,2,3은 각각 6의 약수 28=1+2+4+7+14 // 1,2,4,7,14는 각각 28의 약수
입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하라.

In [113]:
# 1부터 자기 자신보다 1작은 값으로 나누어 주었을때 0이면 그것이 그 수의 약수
num = int(input())
al = []

for i in range(1,num):
    if num%i == 0:
        al += [i]
print(al)

28
[1, 2, 4, 7, 14]

5. 0~9까지의 문자로 된 숫자를 입력 받았을 때, 이 입력 값이 0~9까지의 숫자가 각각 한 번 씩만 사용된 것인지 확인하는 함수를 구하시오.

sample inputs: 0123456789 01234 01234567890 6789012345 012322456789
sample outputs: true false false true false

In [128]:
# 0부터 9까지 한번씩 써야하니깐 길이는 10이 되어야함
# 길이가 10일때 중복확인을 set으로 set한것이랑 안한 것이랑 다르면 중복

a = input().split(' ')
for i in a:
    if len(i) != 10:
        print('false', end = " ")
    else:
        if len(list(set(i))) != len(i):
            print('false',end = " ")
        else:
            print('ture',end = " ")

0123456789 01234 01234567890 6789012345 012322456789
ture false false ture false

run length 압축알고리즘 문제( .bmp)
6. 문자열을 입력받아서, 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시하여 문자열을 압축하기.

입력 예시: aaabbcccccca
출력 예시: a3b2c6a1

In [130]:
#비교로 같으면 숫자 증가
# 다르면 문자 저장,숫자 저장
# 다를때 i가 마지막이라면 마지막 문자임으로 처리 해준다 - 안해주면 마지막 문자 처리 안됨

a = input()

L = len(a)
c = []
num = []
count = 1

for i in range(1,L):
    if a[i-1] == a[i]:
        count += 1
    else:
        print(a[i-1],end='')
        print(count,end='')
        if i == L-1:
            print(a[i],end='')
            print(1)
        count = 1

aaabbcccccca
a3b2c6a1

In [112]:
a = input()

L = len(a)
c = []
num = []
count = 0

for i in range(1,L):
    if a[i-1] == a[i]:
        count += 1
    else:
        c += a[i-1]
        num += [count+1]
        if i == L-1:
            c += a[i]
            num += [1]
        count = 0

        
for i in range(len(c)):
    print(c[i], end ='')
    print(num[i],end ='')

aaabbcccccca
a3b2c6a1